@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    overflow-x: hidden;
    margin-bottom: 60px;
}

.navbar-brand {
    width:8%;
}
.nav-link:hover,
.nav-link:active {
    background-color: #84b474;
    color: white !important;
    border-radius: 2px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.log-link {
    border: none;
    border-radius:2px;
    background-color: #f16d45;
    color: white!important;
}