@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    overflow-x: hidden;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
}

.navbar-brand {
    width:8%;
}
.nav-link:hover,
.nav-link:active {
    background-color: #84b474;
    color: white !important;
    border-radius: 2px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.text-sec-color {
    color: #445f76;
}
.log-link {
    border: none;
    border-radius: 2px;
    background-color: #445f76;
    color: white !important;
}

main {
    flex: 1 1 auto;
    background-color: #dfebd9;
}
footer {
    flex:0 1 auto;
}
.footer {
    position:relative!important;
}
.main-text-col h1 {
    margin-top:32px;
    margin-bottom:32px;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.5px;
}

.main-text-col p {
    font-size:20px;
    line-height:1.4;
}