@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    overflow-x: hidden;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
}
.house-section {
    margin-bottom:120px;
}

.navbar-brand {
    width:6rem;
}

.nav-link:hover,
.nav-link:active {
    background-color: #84b474;
    color: white !important;
    border-radius: 2px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.text-sec-color {
    color: #3f586c;
}

.para-text {
    margin-top: 32px;
    margin-bottom: 32px;
    letter-spacing: -0.5px;
    line-height: 1.4;
    color: green;
}

.log-link {
    border: none;
    border-radius: 2px;
    background-color: #445f76;
    color: white !important;
}

main {
    flex: 1 1 auto;
    background-color: #dfebd9;
}
footer {
    flex:0 1 auto;
}
.footer {
    position:relative!important;
}
.navbar-nav .nav-link {
    padding-left: 6px;
}

.navbar-collapse {
    transition: all 0.26s ease-in-out 0s;
}


.heading-primary {
    letter-spacing: -0.5px;
    font-weight: 700;
    line-height: 1.05;
    margin-top: 32px;
    margin-bottom: 32px;
    color:#3f586c;
}

.col {
    padding:0 !important;
}

.home-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align:center;
}

.home-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left:20px;
    margin-bottom:8px;
}

.home-attri {
    font-size: 18px;
    display: flex;
    align-items: center;
}
.div-img{
    height:212px;
}
.home img {
    width: 100%;
    height:100%;
}
.left-margin-card{
    margin-left:36px;
}
.home-icon {
    height: 24px;
    width: 24px;
    color: green;
    margin-right:10px; 
}

strong {
    font-weight: 700;
}
#home-cards {
    gap:20px;
}
.home {
    box-shadow: 0 24px 48px rgba(0, 0, 0, 7.75%);
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.4s;
    padding:0;
}

.home-content {
    padding: 20px 14px;
    background-color: white;
    color: #3f576b;
}


.home:hover {
    box-shadow: 0 32px 64px rgba(0, 0, 0, 10.75%);
    transform: translate(0, -10px);
}

.link-card {
    text-decoration: none;
    padding: 9px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
    color:white;
}

.details-link {
    background-color: #445f76;
    color: white;
}
    .details-link:hover {
        background-color: #3e5970;
        color:white;
    }



/**/


.house-container {
    display: grid;
    justify-content: center;
    
}
.form-container {
    margin-top: 28px;
    display: grid;
    grid-template-areas: "left right";
    max-width: 1084px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.left-container {
    background: #445f76;
    overflow: hidden;
    /*padding: 40px 0 0 0;*/
    /*position: relative;*/
    text-align: center;
    /*width: 300px;*/
}

    .left-container h1 {
        color: white;
        display: inline-block;
        font-size: 24px;
    }

.icon {
    height: 30px;
    width: 38px;
    color:white;
}

.left-container .img {
    bottom: -5px;
    position: absolute;
    text-align: center;
}

    .left-container .img:before {
        background: #445f76;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.4;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

.left-container img {
    filter: sepia(20%);
    width: 100%;
}

.right-container {
    background: #83b271;
    /*display: grid;*/
    /*grid-template-areas: "." ".";*/
    /*width: 500px;*/
}

    .right-container h1:nth-of-type(1) {
        color: white;
        font-size: 28px;
        font-weight: 600;
    }

    .right-container .set {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }

    .right-container input {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        height: 40px;
        padding-left: 5px;
        box-shadow: rgba(50, 50, 93, 0.10) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.10) 0px 18px 36px -18px inset;
    }

    .right-container input {
        color: #425c74;
    }
    .right-container label {
        color: white;
    }

    .right-container header {
        padding: 28px 28px;
    }

    .right-container label,
    .right-container input,
    .right-container .house-photo {
        /*width: 246px;*/
    }

  

  


.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 580px;
}

    .right-container footer {
        /*align-items: center;*/
        /*background: #fff;*/
        /*display: grid;*/
        /*padding: 0px 40px;*/
    }

        .right-container footer button {
            border: 1px solid rgba(0, 0, 0, 0.2);
            height: 38px;
            line-height: 38px;
            width: 100px;
            border-radius: 19px;
            font-family: "Montserrat", sans-serif;
        }


.form-group label {
    display: block;
    margin-bottom: 5px;
}
.submit-input {
    /*width:28%!important;*/
    color:white!important;
}
.primary-color {
    color: #fff !important;
    background-color: #3f586c !important;
}

.btn-trans {
    border: 2px solid #83b271;
    background:white;
    color: #223e57;
}
    .btn-trans:hover,
    .btn-trans:active {
        background-color: #83b271;
    }


.input-file {
    background-color: #f8f9fc;
    padding: 7px 13px !important;
    color: #445f76!important;
}

    .input-file::file-selector-button {
        border: none;
        color: white;
        background-color: #445f76;
        height: 40px;
        transition: all .25s ease-in;
        cursor: pointer;
    }

        .input-file::file-selector-button:hover {
            background-color: #fff;
            color: #445f76;
            transition: all .25s ease-in;
        }

.uploaded-img {
    border-radius:32px;
}

/*Custom form css*/
.m-form {
    background-color: rgb(68 95 118);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

    .m-form * {
        font-family: 'Poppins',sans-serif;
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    .m-form h3 {
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
    }

    .m-form label {
        display: block;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
    }

    .m-form .input {
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }

::placeholder {
    color: #e5e5e5;
}
@media(max-width:500px) {
    .nor-link {
        border: none;
        border-radius: 2px;
        background-color: #83b271;
        color: white !important;
    }

    .right-container input {
        margin-bottom: 1rem;
    }

}


.m-form .button {
    margin-top: 50px;
    width: 100%;
    background-color: #8eb97e;
    color: white;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.f-select, .f-select option {
    color: #445f76;
}