@{
    ViewData["Title"] = "Home Page";
}
<div class="p-5 mx-5">
    <div class="row">
        <div class="col-lg-6">
            <img src="/main-img.png" class="w-100">
            <!--Image by <a href="https://pixabay.com/users/fauzan291-12961367/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4414916">Ozant Liuky</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4414916">Pixabay</a>-->
        </div>
        <div class="col-lg-6 row">
                <div class="col align-self-center">
                    <h1 class="display-4">Welcome</h1>
                    <p>This website is designed to help students find right accomodation for them and also allows other Home owners
                        to put their house on rent for students. 
                    </p>
                </div>
        </div>
    </div>
</div>
