@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This website is designed to help students find right accomodation for them and also allows other Home owners
        to put their house on rent for students. 
    </p>
</div>
