@model StudentAccomodation.Models.Student


@{
    ViewData["Title"] = "Register As Student";
}

<div class="row p-3">
    <div class="col-md-8 col-lg-4 m-auto">
        <form class="m-form" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h1>Register</h1>
            <h4>Student</h4>
            <hr />

                <label asp-for="HouseId" ></label>
                <select asp-for="HouseId" class ="form-control f-select select-event mt-2" asp-items="ViewBag.HouseId"></select>
            
                <label asp-for="FirstName" ></label>
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
           
                <label asp-for="LastName" ></label>
                <input asp-for="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            
                <label asp-for="StudentEmail" ></label>
                <input asp-for="StudentEmail" />
                <span asp-validation-for="StudentEmail" class="text-danger"></span>
       
            
                <button class="button"type="submit"  >Create</button>
            
        </form>
    </div>
</div>
<p class="details">
</p>
<script>
var select = document.querySelector(".select-event");
select.addEventListener("change", function() {
    $.getJSON("/Students/GetHouse/" + select.value, function (data) {
            var items = '<table><tr><th>House Number</th><th>Street</th><th>City</th><th>Postal Code</th><th>Month Rent</th></tr>';  
            $.each(data, function (i, house) {  
                items += "<tr><td>" + house.houseNumber + "</td><td>" + house.street + "</td><td>" + house.city+ "</td><td>" + house.postalCode+ "</td><td>" + house.monthRent+ "</td></tr>";  
            });  
            items += "</table>"; 
        $(".details").html(items);
        });  
});
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
